*{
    font-family: 'Montserrat', sans-serif;
    background-color: #232323;
}
h3{
    margin-left: 1.33%;
    color: white;
}
img{
    width: 30%;
    margin: 1.5%;
}

hr{
    margin-right: 77%;
    width: 21.5%;
}